In [1]:
import pandas as pd

df = pd.read_csv("pandas_dataset_assignment.csv")
df

   CustomerID  Age  Gender  Income Department  SatisfactionScore
0    CUST1000   56    Male   78984  Marketing                  1
1    CUST1001   46  Female   70774         IT                  8
2    CUST1002   32  Female   32568  Marketing                  1
3    CUST1003   25  Female   92592    Finance                  1
4    CUST1004   38  Female   97563  Marketing                  2
5    CUST1005   56  Female   32695         IT                  2
6    CUST1006   36  Female   78190         IT                  6
7    CUST1007   40  Female   35258    Finance                  7
8    CUST1008   28  Female  117538         HR                  5
9    CUST1009   28  Female   69504         HR                  1
10   CUST1010   41  Female   63159  Marketing                  1
11   CUST1011   53  Female   43986      Sales                  3
12   CUST1012   57    Male   91858  Marketing                  2
13   CUST1013   41    Male   42666    Finance                  5
14   CUST1014   20  Female   68660    Finance                 10
15   CUST1015   39  Female   33561    Finance                  6
16   CUST1016   19  Female   56854    Finance                  7
17   CUST1017   41  Female   94505    Finance                  4
18   CUST1018   47  Female   82251         IT                  7
19   CUST1019   55  Female   52662         HR                  8
20   CUST1020   19  Female   38392    Finance                  1
21   CUST1021   38  Female   60535      Sales                  6
22   CUST1022   50    Male  108603      Sales                  8
23   CUST1023   29  Female   82256      Sales                  5
24   CUST1024   39    Male  119135      Sales                  4
25   CUST1025   42  Female   65222         IT                  2
26   CUST1026   44  Female  107373      Sales                  6
27   CUST1027   59    Male  109575    Finance                  6
28   CUST1028   45  Female  114651  Marketing                  1
29   CUST1029   33    Male   93335      Sales                  9
30   CUST1030   32  Female   40965         IT                  6
31   CUST1031   20  Female   54538         IT                  3
32   CUST1032   54    Male  100592      Sales                  4
33   CUST1033   24  Female   38110  Marketing                  4
34   CUST1034   38    Male  109309      Sales                  3
35   CUST1035   26  Female   57266         IT                 10
36   CUST1036   56    Male   82992         HR                  3
37   CUST1037   35    Male  112948    Finance                  3
38   CUST1038   21  Female   36910         IT                  4
39   CUST1039   42  Female   30206      Sales                  7
40   CUST1040   31    Male  117054    Finance                  4
41   CUST1041   26  Female  117897      Sales                  9
42   CUST1042   43  Female   53419      Sales                  1
43   CUST1043   19  Female   80636         HR                  8
44   CUST1044   37    Male   80015    Finance                  7
45   CUST1045   45    Male   84268    Finance                  2
46   CUST1046   24    Male  117939         HR                  8
47   CUST1047   25    Male   48141         IT                  1
48   CUST1048   52    Male  110356      Sales                  9
49   CUST1049   31    Male  101910  Marketing                  9

In [2]:

df.shape

(50, 6)

In [3]:
df.info

<bound method DataFrame.info of    CustomerID  Age  Gender  Income Department  SatisfactionScore
0    CUST1000   56    Male   78984  Marketing                  1
1    CUST1001   46  Female   70774         IT                  8
2    CUST1002   32  Female   32568  Marketing                  1
3    CUST1003   25  Female   92592    Finance                  1
4    CUST1004   38  Female   97563  Marketing                  2
5    CUST1005   56  Female   32695         IT                  2
6    CUST1006   36  Female   78190         IT                  6
7    CUST1007   40  Female   35258    Finance                  7
8    CUST1008   28  Female  117538         HR                  5
9    CUST1009   28  Female   69504         HR                  1
10   CUST1010   41  Female   63159  Marketing                  1
11   CUST1011   53  Female   43986      Sales                  3
12   CUST1012   57    Male   91858  Marketing                  2
13   CUST1013   41    Male   42666    Finance                  5
14   CUST1014   20  Female   68660    Finance                 10
15   CUST1015   39  Female   33561    Finance                  6
16   CUST1016   19  Female   56854    Finance                  7
17   CUST1017   41  Female   94505    Finance                  4
18   CUST1018   47  Female   82251         IT                  7
19   CUST1019   55  Female   52662         HR                  8
20   CUST1020   19  Female   38392    Finance                  1
21   CUST1021   38  Female   60535      Sales                  6
22   CUST1022   50    Male  108603      Sales                  8
23   CUST1023   29  Female   82256      Sales                  5
24   CUST1024   39    Male  119135      Sales                  4
25   CUST1025   42  Female   65222         IT                  2
26   CUST1026   44  Female  107373      Sales                  6
27   CUST1027   59    Male  109575    Finance                  6
28   CUST1028   45  Female  114651  Marketing                  1
29   CUST1029   33    Male   93335      Sales                  9
30   CUST1030   32  Female   40965         IT                  6
31   CUST1031   20  Female   54538         IT                  3
32   CUST1032   54    Male  100592      Sales                  4
33   CUST1033   24  Female   38110  Marketing                  4
34   CUST1034   38    Male  109309      Sales                  3
35   CUST1035   26  Female   57266         IT                 10
36   CUST1036   56    Male   82992         HR                  3
37   CUST1037   35    Male  112948    Finance                  3
38   CUST1038   21  Female   36910         IT                  4
39   CUST1039   42  Female   30206      Sales                  7
40   CUST1040   31    Male  117054    Finance                  4
41   CUST1041   26  Female  117897      Sales                  9
42   CUST1042   43  Female   53419      Sales                  1
43   CUST1043   19  Female   80636         HR                  8
44   CUST1044   37    Male   80015    Finance                  7
45   CUST1045   45    Male   84268    Finance                  2
46   CUST1046   24    Male  117939         HR                  8
47   CUST1047   25    Male   48141         IT                  1
48   CUST1048   52    Male  110356      Sales                  9
49   CUST1049   31    Male  101910  Marketing                  9>

In [ ]:
df.columns

In [ ]:
df.head(10)

In [ ]:
df.tail

In [ ]:
df.describe()

In [4]:
df['SatisfactionScore'].unique()

array([ 1,  8,  2,  6,  7,  5,  3, 10,  4,  9])

In [ ]:
df['SatisfactionScore']

In [ ]:
df['SatisfactionScore'].value_counts()

In [ ]:
df['Income']>1000

In [ ]:
df[df['Income']>1000]

In [ ]:
df[df['SatisfactionScore']<3]

In [ ]:
avg_income_by_dept = df.groupby('Department')['Income'].mean()

In [5]:
avg_income_by_dept

NameError: name 'avg_income_by_dept' is not defined

In [6]:
print(df.loc[0:5, df.columns[:3]])

  CustomerID  Age  Gender
0   CUST1000   56    Male
1   CUST1001   46  Female
2   CUST1002   32  Female
3   CUST1003   25  Female
4   CUST1004   38  Female
5   CUST1005   56  Female

In [ ]:
print(df.iloc[0:6, 0:3])

In [ ]:
selected_columns = df[['CustomerID', 'Age', 'Gender']]

In [7]:
selected_columns

NameError: name 'selected_columns' is not defined

In [ ]:
average_income = df['Income'].mean()

In [ ]:
average_income